@model Web.Areas.Store.ViewModels.CategoryViewModel

<li>
    <a asp-action="Index" 
       asp-controller="Shop" 
       asp-area="Store"
       asp-route-pageNumber="1"
       class="@(string.IsNullOrEmpty(Model.SelectedCategory) ? "active" : "")">
        All Products
    </a>
</li>
@foreach (var category in Model.Categories)
{
    <li>
        <a asp-action="Index" 
           asp-controller="Shop" 
           asp-area="Store" 
           asp-route-category="@category.Name"
           asp-route-pageNumber="1"
           class="@(Model.SelectedCategory == category.Name ? "active" : "")">
            @category.Name
        </a>
    </li>
}